<head>
  {% include analytics.html %}
  {% include verification.html %}
  {% include meta.html %}
  {% include fonts.html %}
  {% include styles.html %}
  {% include scripts.html %}

  <!-- liu -->
  <!-- 手动添加 MathJax 配置和加载 -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
